MONGODB_URI=mongodb+srv://dilharakariyawasam2002_db_user:sPSqKNqwbQS6z6ud@cluster0.zxk2rmd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-here
PORT=5000